.contact {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 5rem 0;
}

.contact-title {
  text-transform: none;
}

.contact-body p {
  line-height: 2;
  max-width: 45em;
  color: hsl(210, 22%, 49%);
  font-size: 00.9rem;
  margin-bottom: 1.5rem;
}

.contact-form {
  width: 90vw;
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.contact-form-input,
.contact-form-submit {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 2px solid black;
}

.contact-form-input {
  color: gray;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.contact-form-submit {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contact-form-input::placeholder {
  text-transform: capitalize;
  color: black;
}
.contact-form-submit {
  background: #ab7b60;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: 0.3s ease;
  color: antiquewhite;
}

.contact-form-submit:hover {
  color: black;
}

@media (min-width: 992px) {
  .contact {
    padding: 17rem 0;
  }
  .contact-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 8rem;
    margin-top: 2rem;
  }
  .contact-body p {
    margin-bottom: 0;
  }
}
