.intro {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  min-height: 60vh;
  display: grid;
  place-items: center;
}

/* .title {
  min-height: 60vh;
} */

.title h1 {
  margin: 20px 0 15px 0;
  color: #222;
}
.title p {
  line-height: 2;
  max-width: 45em;
  margin-bottom: 2rem;
  color: gray;
  font-size: 1rem;
}

.title a {
  background-color: #ab7b60;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.title a:hover {
  background-color: #775340;
}
.show-off-images {
  display: none;
}

@media (min-width: 992px) {
  .intro {
    height: calc(100vh - 5rem);
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
  }
  .intro h1 {
    margin-bottom: 2rem;
  }
  .intro p {
    font-size: 1.25rem;
  }

  .show-off-images {
    display: block;
    position: relative;
    width: 100%;
  }
  .main-image {
    width: 100%;
    height: 500px;
    position: relative;
    border-radius: 5px;
    display: block;
    object-fit: cover;
  }
  .secondary-image {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-50%, 10%);
    width: 250px;
    height: auto;
    border-radius: 5px;
  }
  .show-off-images::before {
    content: '';
    width: 10%;
    height: 80%;
    background-color: antiquewhite;
    position: absolute;
    bottom: 0;
    left: -8%;
    border-radius: 5px;
  }
  /* .title {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    justify-self: center;
    background-color: antiquewhite;
  } */
}
